/* Hidden trigger image style */
.hidden-trigger {
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0.5;
    z-index: 9999;
    cursor: pointer;
    /* Adjust the positioning as needed */
    left: 20px;
    top: 20px;
}

/* Style for the container of trigger and logo */
.trigger-and-logo {
    position: relative;
    display: flex;
    align-items: center;
}

body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    color: white;
}

.logo {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 18px;
}

.links {
    margin-top: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

/* Card Game Styles */
#cardGame {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#card img {
    max-width: 100%;
    height: auto;
}

#drawButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#drawButton:hover {
    background-color: darkblue;
}

.hidden {
    display: none;
}
