body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    color: white;
}

.logo {
    max-width: 100%;
    height: auto;
}

/* Increase the font size for "Minting Soon" */
p {
    font-size: 30px; /* Adjust the size as needed */
}

.links {
    margin-top: 20px;
}

/* Make the links white */
.links a {
    color: white; /* Set the color to white */
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

/* Existing Styles for the Website */

/* Add your existing styles here */

/* Styles for the Card Game Section */

#cardGame {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

#card img {
    max-width: 100%;
    height: auto;
}

#drawButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: blue; /* Match the background color of your website */
    color: white; /* Match the text color of your website */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Adjust the margin as needed */
}

#drawButton:hover {
    background-color: darkblue; /* Match the hover background color of your website */
}

.hidden {
    display: none;
}

