/* Hidden trigger image style */
.hidden-trigger {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    cursor: pointer;
}

/* Style for the container of the left trigger */
.left-trigger-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Style for the container of the logo */
.logo-container {
    text-align: center; /* Center the logo horizontally */
    position: relative;
    display: inline-block;
}

/* Style for the right content */
.right-content {
    flex: 1;
    text-align: center;
    color: white;
    padding: 20px;
    margin-left: 20px; /* Add margin to create separation */
}

/* Ensure the background color is black */
body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
    color: white;
}

.logo {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 24px; /* Adjust the font size as needed */
}

p {
    font-size: 24px;
}

.links {
    margin-top: 20px;
}

.links a {
    color: white;
    text-decoration: none;
}

/* Card Game Styles */
#cardGame {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#card img {
    max-width: 100%;
    height: auto;
}

#drawButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#drawButton:hover {
    background-color: darkblue;
}

.hidden {
    display: none;
}
